<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<script>
</script>

<style>

</style>
<body>
<p>some text</p>
<h1>Hello</h1>
<h2>Hello</h2>
<h3>Hello</h3>
<h4>Hello</h4>
<h5>Hello</h5>
<h6>Hello</h6>
<a href="http://yandex.ru">click here to see my last photo</a>
<table>
    <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
    </tr>
    <tr>
        <td>Info 1</td>
        <td>Info 2</td>
        <td>Info 3</td>
    </tr>
    <tr>
        <td>Info 1</td>
        <td>Info 2</td>
        <td>Info 3</td>
    </tr>
</table>



</body>
</html>